<a href="https://colab.research.google.com/github/ParishaKB/ML/blob/master/BankLoanDefault/ML_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
urlacc = 'https://raw.githubusercontent.com/zhouxu-ds/loan-default-prediction/main/data/account.asc'
acc = pd.read_csv(urlacc)

In [2]:
acc.head()

  account_id;"district_id";"frequency";"date"
0            576;55;"POPLATEK MESICNE";930101
1           3818;74;"POPLATEK MESICNE";930101
2            704;55;"POPLATEK MESICNE";930101
3           2378;16;"POPLATEK MESICNE";930101
4           2632;24;"POPLATEK MESICNE";930102

In [6]:
import numpy as np
acc = np.loadtxt(urlacc,skiprows=1)

ValueError: ignored

In [5]:
acc.head()

  account_id;"district_id";"frequency";"date"
0            576;55;"POPLATEK MESICNE";930101
1           3818;74;"POPLATEK MESICNE";930101
2            704;55;"POPLATEK MESICNE";930101
3           2378;16;"POPLATEK MESICNE";930101
4           2632;24;"POPLATEK MESICNE";930102